$peach:#F0E1DE;
$bluegreen:#76CCBF;
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');

// .PhoneInputCountryIcon{
//     height: inherit;
// }
.title, .title2{ 
    height: 750px;  
    .saviour{
        background-color: #0070ff;
        color: white;
        display: flex;
        align-items: center;
        justify-content: center;
        position: fixed;
        right: 0;
        left: 0;
        z-index: 2;
        top:0;
        // height: 60px;
        p{
            align-self: last baseline;
            margin-top: 12px;
            font-size: 16px;
            margin-left: 25px;
            margin-right: 25px;
        }
        button{
            background-color: white;
            color:#0070ff;
            font-weight: 500;
            margin: 10px;
            border-radius: 6px;
            height: 30px;
            border: none;
            padding-left: 16px;
            padding-right: 16px;
            padding-bottom: 4px;
        }
    }
    .navbar{
        background-color: rgba(29, 37, 58, 0.8);
        // opacity: 50%;
        color: white;
        margin-top: 52px;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        padding:20px;
        // height: 110px;
        img{
            // height: inherit;
            // opacity: 100%;
            padding-top: 5px;
            height: 55px;
            margin-right: 120px;
            margin-left: 0px;
        }
        .links{
            display:flex;
            flex-direction: row;
            // align-self: last baseline;
            margin-left: 30px;
            margin-right: 30px;
            h4{
                font-size: 17px;
                font-weight: 400;
                margin-left: 30px;
                margin-right: 30px;
                padding-top: 10px;
            }
        }
        .buttons{
            margin-left: 120px;
            display: flex;
            flex-direction: row;
            
            .loginBtn{
                color: white;
                border:none;
                background-color: inherit;
                margin-left: 20px;
                margin-right: 20px;
                height: 40px;
            }
            .signBtn{
                color: white;
                background-color: #0070ff;
                border: none;
                margin-right: 20px;
                margin-left: 20px;
                width: 100px;
                height: 40px;
            }
            .searchbutn{
                width: 40px;
                height: 40px;
                margin-left: 20px;
                margin-right: 20px;
                border: solid white 1px;
                img{
                    height: inherit;
                    padding: 7px
                }
            }
        }
    }
    .content{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        background-color: rgba(29, 37, 58, 0.8);
        height: 681px;
        color: white;
        h4{
            font-size: 20px;
        }
        h1{
            font-weight: 500;
            font-size: 54px;
            width: 650px;
            text-align: center;
            margin-top: 20px;
            margin-bottom: 20px;
        }
        p{
            width: 500px;
            text-align: center;
            margin-bottom: 35px;
        }
        .mainbutton{
            .donate{
                background-color: #0070ff;
                color: white;
                border:none;
                height: 50px;
                width: 130px;
                font-size: 14px;
                margin-left: 10px;
                margin-right: 10px;
            }
            .login{
                background-color: rgba(29, 37, 58, 0.8);
                color: white;
                border: 1px solid #0070ff;
                height: 50px;
                font-size: 14px;
                width: 250px;
                margin-left: 10px;
                margin-right: 10px;
            }
        }
    }
    .backimg{
        width: 100%;
        position: absolute;
        top: 0;
        z-index: -1;
        // background-color: #01142d;
        img{
            width: inherit;
            // z-index: -3;
        }
    }
}
.title2{
    // height: 750px;
    height: 416px;
    .backimg{
        margin-top: 52px;
    }
    .content{
        height: 322px;
        margin: 0px;
        padding-top: 0px;
        h4{
            font-size: 18px;
            margin-bottom: 0px;
            padding-bottom: 0px;
            margin-top: 0px;
            padding-top: 0px;
        }
        h1{
            font-weight: 500;
            font-size: 40px;
            width: 650px;
            text-align: center;
            margin-top: 0px;
            // margin-top: 20px;
            // margin-bottom: 20px;
            padding-bottom: 65px;
        }
    }
}
.getInTouch{
    // background-color: red;
    // height: 100px;
    h4{
        font-size: 16px;
    }
    h2{
        font-size: 30px;
        margin-bottom: 20px;
    }
    display: flex;
    flex-direction: column;
    padding: 80px;
    padding-left: 200px;
    padding-right: 200px;
    .contentbox{
        display: flex;
        flex-direction: row;
        form{
            // display: flex;
            width: 60%;
            padding-right: 30px;
            justify-content: space-between;
            button{
                height: 35px;
                border: none;
                // padding: 10px;
                width: 150px;
                font-size: 14px;
                background-color: #0070ff;
                color:white;
            }
            div{
                display: inline-block;
                width: 50%;
                margin-bottom: 20px;
                h4{
                    font-size: 15px;
                    margin-bottom: 5px;
                }
                input{
                    background-color: #e5f1ff;
                    font-size: 14px;
                    border: 1px rgb(215, 213, 213) solid;
                    width: 90%;
                    height: 40px;
                    // margin-right: 20px;
                }
            }
            .msg{
                width: 105.5%;
                input{
                    height: 50px;
                }
            }
            
        }
        .sidebox{
            width: 40%;
            padding: 30px;
            background-color: #e5f1ff;
            h2{
                font-size: 30px;
            }
            p{
                font-size: 14px;
                text-align: justify;
            }
            h4{
                font-size: 15px;
            }
        }
    }
}
.contactus{
    // height: 480px;
    // background-color: $peach;
    display: flex;
    flex-direction: row;
    // justify-content: center;
    align-items: center;
    margin-top: 60px;
    margin-bottom: 20px;
    
    
    .touch{
        display: flex;
        align-items: center;
        justify-content: right;
        padding-right: 0px;
        width: 50%;
        .touchcard{
            // background-color: $peach;
            height: 600px;
            width: 550px;
            padding-right: 0px;
            padding-left:50px;
            position: relative;
            .img1{
                height: 400px;
                border: 17px, solid, #e5f1ff8b;
                position: absolute;
                left:0;
                top: 0;
            }
            .img2{
                height: 350px;
                border: 17px, solid, #e5f1ff8b;
                position: absolute;
                right:0;
                bottom: 0;
            }
        }
    }
    .outmoney{
        // height: inherit;
        // z-index: 1;
        width: 50%;
        margin: 100px;
        padding-left: 20px;
        padding-right: 100px;
        display:flex;
        flex-direction: column;
        justify-content: center;
        // align-items: center;
        // padding-left: 60px;
        // padding-right: 0px;
        h6{
            padding-bottom: 10px;
            font-size: 18px;
        }
        h1{
            font-size: 36px;
            width: 400px;
            padding-bottom: 15px;
        }
        .missionvision{
            display: flex;
            flex-direction: row;
            margin-bottom: 40px;
            .ourmission, .ourvision{
                background-color: #e5f1ff;
                padding: 10px;
                padding-top: 4px;
                margin-right: 30px;
                height: 140px;
                // top:0px;
                .bluetitle{
                    height: 30px;
                    display: flex;
                    flex-direction: row;
                    margin-top: 10px;
                    margin-bottom: 10px;
                    margin-left: 7px;
                    img{
                        height: inherit;
                        margin-right: 10px;
                    }
                    h4{
                        padding-bottom: 0px;
                        margin-bottom: 0px;
                        color: #0070ff;
                    }
                }
                p{
                    font-size: 10px;
                }
            }
        }
        p{
            margin: 0px;
            // padding: 0px;
            padding-bottom: 5px;
        }
        button{
            margin-top: 60px;
            width: 180px;
            border: none;
            height: 40px;
            background-color: #0070ff;
            color: whitesmoke;
        }
    }
}

.campaigns{
    margin-top:130px;
    padding-left: 170px;
    padding-right: 170px;
    margin-bottom: 50px;
    // background-color: $bluegreen;
    .campaigntitle{
        display: flex;
        justify-content: left;
        flex-direction: column;
        h6{
            padding-bottom: 10px;
            font-size: 18px;
        }
        h1{
            font-size: 36px;
            width: 500px;
            padding-bottom: 15px;
        }
    }

    .bigContainer{
        margin-top: 30px;
        .slider{
            padding-bottom: 80px;
            

            .myslider{
                // display: flex;
                // margin: 100px; 
                .aCard{
                    // background-color: rgb(11, 139, 122);
                    color: black;
                    // border-radius: 20px;
                    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
                    // margin-right: 10000px;
                    padding: 0px;
                    height: 500px;
                    // width: 300px;
                    margin: 0px;

                    .imgbox{
                        background-color: #f2f8ed;
                        display:flex;
                        justify-content: center;
                        align-items: center;
                        overflow: hidden;
                        // margin: 22px 20px 0 20px;
                        // border: #0c1c1a 1px solid;
                        // border-radius-top: 20px;
                        height: 220px;
                        border-radius: inherit;
                        position: relative;
                        img{
                            width: 100%;
                            // height: 180px;
                            object-fit: cover;
                            position: absolute;
                            top:0;
                            // height: inherit;
                            // width: inherit;
                            // width: 44px;
                            // border-radius: 50%;
                        }
                    }
                    .cardtext{
                        display: flex;
                        flex-direction: column;
                        // justify-content: left;
                        align-items: left;
                        padding: 0px;
                        margin: 15px;
                        h2{
                            font-size: 18px;
                            margin-bottom: 20px;
                        }
                        h4{
                            font-size: 14px;
                            margin-bottom: 20px;
                        }
                        button{
                            margin-top: 60px;
                            width: 150px;
                            border: 2px, solid, #0070ff;
                            height: 40px;
                            background-color: white;
                            color: #0070ff;
                            font-size: 14px;
                        }
                    }

            }
            
            }
        }
    }
}
.mainBox{
    // justify-content: center;
    // align-items: center;
    // align-items: center;
    .testimonials{
        // height: 900px;
        // width: 100%;
        display: flex;
        flex-direction: column;
        // justify-content: center;
        align-items: center;
        background-color: #12396b;
        h4{
            color: white;
            font-size: 18px;
            padding-top: 65px;
            padding-bottom:8px;
        }
        h2{
            color:white;
            font-size: 36px;
        }
        .slider{
            width: 100%;
            // padding-left: 10px;
            // overflow: hidden;
            padding-top: 20px;
            padding-left: 150px;
            padding-right: 150px;
            padding-bottom: 100px;
            .myslider{
                // width: 100%;
                // height: 100px;
                
                .aCard{
                    // height: 100px;
                    display: flex;
                    justify-content: center; /* Centers the content horizontally */
                    align-items: center; /* Centers the content vertically */
                    // margin: 0 100px; /* Horizontal margins to ensure it's not touching the sides */
                    // height: 100vh; /* Example height to ensure vertical centering if required */
                    // border: 1px solid black;
                    margin-bottom: 0px;
                    padding-bottom: 0px;
                    .imgbox{
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        margin: auto;
                        // margin-top: 30px;
                        height: 80px;
                        width: 80px; /* Ensure the width and height are equal for a perfect circle */
                        border-radius: 50%; /* Makes the container circular */
                        border: 2px solid $bluegreen; /* Add the color you prefer */
                        overflow: hidden;
                        img{
                            height: 100%; /* Ensures the image height matches the container height */
                            width: auto; /* Maintains the aspect ratio */
                            border-radius: 50%; 
                        }
                    }
                    .cardtext{
                        display: flex;
                        flex-direction: column;
                        justify-content: center;
                        align-items: center;
                        h3{
                            color: white;
                            margin-top: 25px;
                            // margin-bottom: 10px;
                            padding-bottom: 0px;
                            font-size: 20px;
                        }
                        h4{
                            color: white;
                            margin-top: 0px;
                            padding: 0px;
                            font-size: 14px;
                        }
                        p{
                            color: white;
                            margin: auto;
                            text-align: center;
                            margin-top: 40px;
                            margin-bottom: 20px;
                            width: 80%;
                        }
                    }
                }
            }
        }
    }
    .partners{
        // height: 50px;
        // background-color: blue;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        padding-bottom: 50px;
        h4{
            color: black;
            font-size: 18px;
            padding-top: 65px;
            padding-bottom:8px;
        }
        h2{
            color:black;
            font-size: 36px;
        }
        .icons{
            // width: 100%;
            display: flex;
            flex: row;
            justify-content:center;
            .oneicon{
                height: 150px;
                margin-top: 20px;
                margin-left: 60px;
                margin-right: 60px;
                margin-bottom: 20px;
                img{
                    height: inherit;
                }
            }
        }
    }
}
.knowMore{
    background-color: #01142d;
    // height: 450px;
    padding-top: 80px;
    color: white;
    // display: flex;
    // direction: column;
        
        .box{
            display: flex;
            flex-direction: row;
            justify-content: space-around;
            padding-bottom: 60px;
            padding-right: 100px;
            padding-left: 100px;
            // position: relative;

            
            .sahayakLogo{
                margin-top: 0px;
                padding-top: 0px;
                .sahayakbox{
                    height: 60px;
                    img{
                        height: inherit;
                    }
                }
                .install{
                    display: flex;
                    flex-direction: column;
                    img{
                        margin-top: 40px;
                        margin-bottom: 0px;
                        margin-left: 50px;
                        width: 120px;
                    }
                }
            }
            .columns{
                // padding: px;
                display: flex;
                flex-direction: row;
                justify-content: space-between;

                .col{
                    padding-left : 10px;
                    padding-right: 10px;
                    h1{
                        font-size: 14px;
                        margin-bottom: 20px;
                    }
                    h3{
                        font-size: 14px;
                        font-weight: 400;
                        color: grey;
                    }
                }
            }

            .newsletter{
                h3{
                    font-size: 14px;
                    margin-bottom: 20px;
                }
                input{
                    height: 35px;
                    padding-left:15px;
                    border: none;
                    font-size: 14px;
                }button{
                    height: 35px;
                    border: none;
                    // padding: 10px;
                    width: 120px;
                    font-size: 14px;
                    background-color: #0070ff;
                    color:white;
                }
                
                p{
                    font-size: 14px;
                    font-weight: 400;
                    color: grey;
                }
                .socialmedia{
                    display: flex;
                    flex-direction: row;
                    img{
                        height: 40px;
                        filter:invert(100%);
                        border-radius: 50%;
                        margin: 10px;
                        margin-top: 0px;
                    }
                }
            }
            
        }

    .copyright{
        display: flex;
        justify-content: center;
        font-size: 14px;
        padding-top: 5px;
        padding-bottom: 40px;
        border-top: 1px grey solid ; 
        margin-left: 120px;
        margin-right: 120px;
        color: grey;
    }
}

.formbox{
    font-family: 'Poppins',sans-serif;
    background-color: $bluegreen;
    // height: 100vh;
    padding-top: 70px;
    padding-bottom: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
    .logo{
        // height: 60px;
        display: block;
        position: absolute;
        right: 0%;
        top: 0%;
        height: 90px;
        padding-top: 15px;
        padding-right: 20px;
        img{
            height: inherit;
        }
    }
    .form{
        .error-message{
            color: red;
            font-size: 14px;
        }
        background-color: white;
        width: 100%;
        max-width: 700px;
        border-radius: 10px;
        padding: 30px;
        box-shadow: 0 5px 10px rgba(0,0,0,0.15);
        // justify-content: center;
        .formtitle{
            padding: 0px;
            font-size: 25px;
            margin-top: 0px;
            color: #144039;
            font-weight: 500;
        }
        .Typeof{
            display: flex;
            padding-bottom: 10px;
            flex-direction: column;
            label{
                 width: 100%;
                //  padding-bottom: 10px;
            }
            select{
                width: 45%;
                height: 40px;
                padding-left: 20px;
                border-radius: 5px;
                border: 1px solid $bluegreen;
                border-bottom-width: 2px;
                transition: all 0.3s ease;
                color: gray;
            }
            select:hover{
                border-color: #144039;
            }
        }
        .forminput{
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            // padding: 10px;
            .firstname, .lastname, .disease, .otp, .Campaignername, .hospital, .email, .goalAmount, .aadharnum, .story, .aadharfile{
                padding-bottom: 8px;
                width: calc(50%);
                display: flex;
                flex-direction: column;
                
                
                button{
                    width: 90%;
                }
                input, textarea{
                    // background-color: $peach;
                    padding-left: 20px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    width: 90%;
                    border-radius: 5px;
                    border: 1px solid $bluegreen;
                    border-bottom-width: 2px;
                    transition: all 0.3s ease;
                    // color: $peach;
                }
                // input:focus, input:valid{
                //     border:2px solid red
                //     // border-bottom-width: 2px;
                // }
                input{
                    height: 40px;
                }
                textarea{
                    padding-top: 10px;
                    font-family: Arial, Helvetica, sans-serif;
                }
                input:hover , textarea:hover{
                    border-color: #144039;
                }
                   
        }
        .mobile{
            padding-bottom: 8px;
            width: 50%;
            button{
                width: 90%;
            }
            input{
                width: 90%;
                height: 40px;
                border: 1px solid $bluegreen;
                    border-bottom-width: 2px;
                    transition: all 0.3s ease;
            }
            input:hover , textarea:hover{
                border-color: #144039;
            }
        }
        
        .aadharfile{
            input{
                // padding-left: 10px;
                padding-top: 9px;
                padding-bottom: 9px;
                height: auto;
            }
        } 
        .story{
            padding: none;
            background-color: white;
            margin: none;
            width :auto;
            padding-left: 0px;
            label{
                padding-left: 0px;
                width: 100%;
            }
            textarea{
                width: 100%;
                margin: none;

            }
        }  
            
        }
        button{
            width: 100%;
            margin-top: 15px;
            height: 40px;
            border-radius: 5px;
            border :2px solid rgb(11, 139, 122);
            cursor: pointer;
            background-color: white;
            color: #449c8e;
            font-size: 16px;
            font-weight: bold;
            transition: all 0.3s ease;
        }
        button:hover{
            color:white;
            background-color: $bluegreen;
            border :2px solid white;
        }
        .reqstar{
            font-size: 13px;
            color: red;
            // position: relative;
        }
        .note{
            font-size: 12px;
            padding: 0px;
            margin: 0px;
            margin-top: 7px;
            color:red;
        }
    }
}
.loginbox{
    font-family: 'Poppins',sans-serif;
    background-color: $bluegreen;
    height: 100vh;
    // padding-top: 70px;
    // padding-bottom: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
    .logo{
        // height: 60px;
        display: block;
        position: absolute;
        right: 0%;
        top: 0%;
        height: 90px;
        padding-top: 15px;
        padding-right: 20px;
        img{
            height: inherit;
        }
    }

    .form{
            .reqstar{
                color: red;
            }
            background-color: white;
            width: 100%;
            max-width: 400px;
            border-radius: 10px;
            padding: 30px;
            box-shadow: 0 5px 10px rgba(0,0,0,0.15);
            // justify-content: center;
            .formtitle{
                padding: 0px;
                font-size: 25px;
                margin-top: 0px;
                color: #144039;
                font-weight: 500;
            }

            .otp{
                // padding-bottom: 8px;
                // width: ;
                display: flex;
                flex-direction: column;
                input{
                    padding-left: 20px;
                    // padding-right:20px;  
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    // width: 94%;
                    border-radius: 5px;
                    border: 1px solid $bluegreen;
                    border-bottom-width: 2px;
                    transition: all 0.3s ease;
                    height: 40px;
                }
                input:hover{
                    border-color: #144039;
                }
            }
            .mobile{
                width: 100%;
                padding-bottom: 8px;
                input{
                    width: 100%;
                    border-radius: 5px;
                    border: 1px solid $bluegreen;
                    border-bottom-width: 2px;
                    transition: all 0.3s ease;
                    height: 40px;
                }
                input:hover{
                    border-color: #144039;
                }
            }
            button{
                width: 100%;
                margin-top: 15px;
                height: 40px;
                border-radius: 5px;
                border :2px solid rgb(11, 139, 122);
                cursor: pointer;
                background-color: white;
                color: #449c8e;
                font-size: 16px;
                font-weight: bold;
                transition: all 0.3s ease;
            }
            button:hover{
                color:white;
                background-color: $bluegreen;
                border :2px solid white;
            }
        }
    
}

.landing{
    font-family: 'Poppins',sans-serif;
    background-color: $peach;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    .logo{
        display: block;
        position: absolute;
        right: 0%;
        top: 0%;
        height: 90px;
        padding-top: 15px;
        padding-right: 20px;
        img{
            height: inherit;
        }
    }
    
    .linkbox{
        background-color: white;
        width: 100%;
        max-width: 400px;
        border-radius: 10px;
        padding: 30px;
        box-shadow: 0 5px 10px rgba(0,0,0,0.15);
        
        h1{
            padding: 0px;
                font-size: 25px;
                margin-top: 0px;
                color: #144039;
                font-weight: 500;
        }
        
        .linkdiv{
            margin-top: 10px;
            margin-bottom: 15px;
        }
        .btns{
            button{
                width: 100%;
                margin-top: 15px;
                height: 40px;
                border-radius: 5px;
                border :2px solid rgb(11, 139, 122);
                cursor: pointer;
                background-color: white;
                color: #449c8e;
                font-size: 16px;
                font-weight: bold;
                transition: all 0.3s ease;
            }
            button:hover{
                color:white;
                background-color: $bluegreen;
                border :2px solid white;
            }
        }
    } 
}



  
    